# requirements.txt
# Versions figées pour éviter les ruptures de compatibilité
# Mettre à jour manuellement après tests

mistralai==1.2.5
python-dotenv==1.0.1
edge-tts==6.1.12
pydub==0.25.1
weasyprint==62.3
